In [60]:
import pandas as pd
import numpy as np


df = pd.read_excel (r'C:\Users\Asus\Desktop\Projects\Gavin\Sample1.xlsx', header=7)
df = df.dropna(how="all", axis=1)
df = df.dropna(how="all", axis=0).reset_index(drop=True)

columns = [
"HDI rank",
"Country",
"Human poverty index (HPI-1) - Rank",
"Ref1",
"Human poverty index (HPI-1) - Value (%)",
"Probability at birth of not surviving to age 40 (% of cohort) 2000-05",
"Ref2",
"Adult illiteracy rateb, (% aged 15 and older) n1995-2005",
"Ref3",
"Population not using an improved water source (%)2004",
"Ref4",
"Children under weight for age (% under age 5) 1996-2005",
"Ref5",
"Population below income poverty line (%), $1 a day 1990-2005",
"Ref6",
"Population below income poverty line (%), $2 a day 1990-2005",
"Ref7",
"Population below income poverty line (%), National poverty line 1990-2004",
"Ref8",
"HPI-1 rank minus income poverty rank"
]

df.columns = columns

df = df.drop(np.arange(5), axis=0).reset_index(drop=True)
df = df.drop(np.arange(129,len(df)), axis=0).reset_index(drop=True)

hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]

df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)

df.loc[:, "HDI category"] = np.where(df["HDI rank"] < 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head(12)

,HDI rank,Country,Human poverty index (HPI-1) - Rank,Ref1,Human poverty index (HPI-1) - Value (%),Probability at birth of not surviving to age 40 (% of cohort) 2000-05,Ref2,"Adult illiteracy rateb, (% aged 15 and older) n1995-2005",Ref3,Population not using an improved water source (%)2004,...,Children under weight for age (% under age 5) 1996-2005,Ref5,"Population below income poverty line (%), $1 a day 1990-2005",Ref6,"Population below income poverty line (%), $2 a day 1990-2005",Ref7,"Population below income poverty line (%), National poverty line 1990-2004",Ref8,HPI-1 rank minus income poverty rank,HDI category
0,21,"Hong Kong, China (SAR)",..,NaN,..,1.5,e,..,NaN,..,...,..,NaN,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
1,25,Singapore,7,NaN,5.2,1.8,NaN,7.5,NaN,0,...,3,NaN,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
2,26,Korea (Republic of),..,NaN,..,2.5,NaN,1.0,NaN,8,...,..,NaN,<2,NaN,<2,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
3,28,Cyprus,..,NaN,..,2.4,NaN,3.2,NaN,0,...,..,NaN,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
4,30,Brunei Darussalam,..,NaN,..,3.0,NaN,7.3,NaN,..,...,..,NaN,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
5,31,Barbados,1,NaN,3.0,3.7,NaN,..,f,0,...,6,"e,g",..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
6,33,Kuwait,..,NaN,..,2.7,NaN,6.7,NaN,..,...,10,NaN,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
7,35,Qatar,13,NaN,7.8,3.7,NaN,11.0,NaN,0,...,6,e,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
8,38,Argentina,4,NaN,4.1,4.9,NaN,2.8,NaN,4,...,4,NaN,6.6,NaN,17.4,NaN,..,NaN,-14,LOW HUMAN DEVELOPMENT
9,39,United Arab Emirates,17,NaN,8.4,2.1,NaN,11.3,h,0,...,14,e,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT
10,40,Chile,3,NaN,3.7,3.5,NaN,4.3,NaN,5,...,1,NaN,<2,NaN,5.6,NaN,17.0,NaN,1,LOW HUMAN DEVELOPMENT
11,41,Bahrain,..,NaN,..,3.4,NaN,13.5,NaN,..,...,9,e,..,NaN,..,NaN,..,NaN,..,LOW HUMAN DEVELOPMENT